{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{%static "css/foundation.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{%static "css/style-profile.css" %}">
        <title>Landing Page</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{%static "js/profile.js" %}"></script>
        <script src="{%static "js/subscribe.js" %}"></script>
        <script>
            
        </script>
    </head>
    <body id='body' class="theme-1">
        <div class="loading-page"></div>
        <div class="select-button text-center">
            <button type="button" class="button notch" id="change-theme"> Dark mode </button>
        </div>

        <div class="profile-container grid-x align-middle">
            <div class="cell medium-1">
            </div>
            <div class="cell medium-6" id="showup" style="display:none;">
                <h3><i>Name:</i></h3>
                <h1>Aryo Tinulardhi</h1>
                <h3><i>Gender:</i></h3>
                <h1>Male</h1>
                <h3><i>NPM:</i></h3>
                <h1>1706039515</h1>
            </div> 
            <div class="cell medium-5 text-center">
                <h1>Who Am I?</h1>
                <a><img id="myImage" style="max-height: 50vh;" src="{%static "img/avatar.png" %}" onclick="changeImage()" alt=""></a>
                <h4 id="click-me">Click me!</h4>
            </div>
        </div>
        <div class="profile-container grid-x align-middle">
            <div class="medium-1">

            </div>
            <div class="cell medium-5">
                <h1 class="you-know-me">You<br>Know<br>Me?</h1>
            </div>
            <div class="cell medium-5">
                <button class="accordion">My Activity</button>
                <div class="panel">
                    <p>
                        <ul>
                            <li>Life</li>
                            <li>Code</li>
                            <li>Repeat</li>
                        </ul>
                    </p>
                </div>
                
                <button class="accordion">My Organization Record</button>
                <div class="panel">
                    <p>
                        <ul>
                            <li>Staff Humas - BEM Fasilkom UI</li>
                            <li>Staff Online Marketing - COMPFEST X</li>
                            <li>PIC Public Relation and Publication - OH Fasilkom UI 2018</li>
                        </ul>
                    </p>
                </div>
                
                <button class="accordion">My Achievement</button>
                <div class="panel">
                    <p>
                        <ul>
                            <li>Survive in Fasilkom</li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>

        <div class="subscribe grid-x align-middle">
            <div class="cell medium-1"></div>
            <div class="cell medium-4">
                <h1>Subscribe!</h1>
                {% csrf_token %}
                {{ subscribe_form }}
                <div id="statusForm"></div>
                <button class="button" name="submit" id='submit' disabled>Submit</button>
            </div>
            <div class="cell medium-1"></div>
            <div class="cell medium-5 text-right">
                <h1 class="you-know-me">Know<br>Me<br>Further?</h1>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

        <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div id='modal-content'>
                    <h3 id='email_delete'>Enter password:</h3>
                    <input type="password" id='password-delete' name='password-delete'>
                    <button id='delete_button' class="button"> Delete </button>
                    <div id="status-deleted"></div>
                </div>
            </div>
        </div>


        <div class="grid-x align-middle">
            <div class="cell medium-2"></div>
            
            <div class="cell medium-8">
                <table id = "list_subscribers">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th width="150">Name</th>
                            <th width="150">Email</th>
                            <th class="text-center">Delete</th>
                          </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
            
            <div class="cell medium-2"></div>
        </div>

        

    </body>
</html>