body {
    background-color: #E5EBF0;
}

.form-content {
    padding: 20px;
}

.write-content {
    margin: 20px 0 0 0;
    background-color: #F5F8FA;
    padding: 20px;
}

.status-item {
    background-color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    border-bottom-style: solid;
    border-color: #F5F8FA;
    border-width: 2px;
}

.delete-button {
    background-color: #e74c3c;
}

.profile-container {
    padding: 15px;
    height: 100vh;
}

.accordion {
    background-color: #f5f6fa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.select-button {
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
}

.notch {
    min-width: 200px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #2c3e50;
}


.theme-1 {
    background-color: #ecf0f1;   
    color: #2c3e50;
}

.theme-2 {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.you-know-me {
    font-size: 100px;
    padding: 0 10%;
    margin: 0 auto;
}

.loading-page {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/loading.gif") center no-repeat #fff;
}

.profile-container {
    height: 100vh;
}

.subscribe {
    height: 100vh;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}