body {
    background-color: #E5EBF0;
}

.form-content {
    padding: 20px;
}

.write-content {
    margin: 20px 0 0 0;
    background-color: #F5F8FA;
    padding: 20px;
}

.status-item {
    background-color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    border-bottom-style: solid;
    border-color: #F5F8FA;
    border-width: 2px;
}

.delete-button {
    background-color: #e74c3c;
}

.profile-container {
    padding: 15px;
    height: 100vh;
}

.accordion {
    background-color: #f5f6fa;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.select-button {
    width: 100vw;
    z-index: 2;
    position: fixed;
    top: 0;
    padding: 0;
    margin: 0;
}

.notch {
    min-width: 200px; 
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: #2c3e50;
}


.theme-1 {
    background-color: #ecf0f1;   
    color: #2c3e50;
}

.theme-2 {
    background-color: #2c3e50;
    color: #ecf0f1;
}

.you-know-me {
    font-size: 100px;
    padding: 0 10%;
    margin: 0 auto;
}