body {
    background-color: #E5EBF0;
}

.form-content {
    padding: 20px;
}

.write-content {
    margin: 20px 0 0 0;
    background-color: #F5F8FA;
    padding: 20px;
}

.status-item {
    background-color: #FFFFFF;
    padding: 20px 30px 20px 30px;
    border-bottom-style: solid;
    border-color: #F5F8FA;
    border-width: 2px;
}

.delete-button {
    background-color: #e74c3c;
}

.profile-container {
    padding: 200px;
    color: #e74c3c;
}