{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{%static "css/foundation.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{%static "css/style.css" %}">
    <title>Landing Page</title>
</head>
<body>
    <div class="grid-x">
        <div class="cell medium-2">
            
        </div>
        <div class="cell medium-3">
            <div class="write-content">
                <h1>Hello, apa kabar?</h1>
                <form action="{% url 'web_tdd:add_status' %}" id="form" method="POST">
                    {% csrf_token %}
                    {{ status_form }}
                    <button type="submit" name="submit" class="button expanded">Submit</button>
                </form>
                <a href="{% url 'story10:index' %}"> View my profile </a>
            </div>
        </div>

        <div class="cell medium-5 form-content">
            {% if status %}
            {% for i in status %}
            <div class="status-item">
                <h4><b>{{ i.content }}</b></h4>
                {{ i.created_date.date }}
                {{ i.created_date.time }}
                <br>
            </div>
            {% endfor %}
            <div>
                <a class="button expanded delete-button" href="{% url 'web_tdd:delete_all_stat_db' %}">Delete All</a> 
            </div>
            {% else %}
            <div class="status-item text-center">
                <h4 style="color: #bdc3c7;"><b>Belum ada status</b></h4>
            </div>
            {% endif %}
        </div>
        
        <div class="cell medium-2">
            
        </div>    
    </div>
    
</body>
</html>